.headingColor{
    color:#f06673;
    font-weight: 700;
    display: block;
    font-size: 13px;
    cursor: pointer;
    left: 0;
    }
    .suggestionName{
        color:#555;
        display: block;
        font-size: 12px;
        font-style: inherit;
        font-weight: 400;
        left: 0;
    }
    .locationIcon{
        
        padding-top: 6px;
        font-size: 18px;
        color: #000;
        display: flex;
        left: 0;
    }